.logo {
  align-items: center;
  color: var(--ps-text-strong);
  display: inline-flex;
  font-size: 1.5rem;
  font-variation-settings: 'wght' 800;
  font-weight: 800;
  height: 100%;
  padding: 0.5rem 0;
  text-decoration: none;
}

.logo svg {
  margin-right: 0.5em;
}

.link {
  color: var(--ps-text);
  text-decoration: none;
}

.link:hover {
  color: var(--ps-action-navigation-hover);
}

.wrapper {
  background-color: var(--ps-surface-weak);
  padding: 0 1rem;
}
