.sidebar {
  background-color: var(--ps-surface-weak);
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuHeader {
  font-size: 0.75rem;
  text-transform: uppercase;
}

* + .menuHeader {
  border-top: 1px solid;
  margin-top: 2rem;
  padding-top: 2rem;
}

.menuItem {
  margin-top: 1em;
}

.menuItem > a {
  align-items: center;
  color: var(--ps-text);
  display: flex;
  gap: 0.5em;
  text-decoration: none;
  opacity: 0.5;
}

.menuItem > a[href] {
  opacity: 1;
}

.menuItem > a[href]:hover {
  text-decoration: underline;
}

.menuItem > a > svg {
  flex: 0 0 auto;
}
