.footer {
  background-color: var(--ps-surface-weak);
  font-size: 0.875rem;
  padding: 1.5rem;
}

.footerMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerMenuItem {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footerMenuItem::before {
  display: none;
}

.footerMenuItem::after {
  content: '·';
  margin-inline: 0.25rem;
}

.footerMenuItem:last-child::after {
  display: none;
}

.footerLink {
  color: var(--ps-text);
}
